.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

button {
  font-family: inherit;
  cursor: pointer;
}

input {
  font-family: inherit;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-list,
.address {
  display: none;
  font-style: normal;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-header {
  padding: 16px 0;
  display: block;
}

.logo-text {
  color: #2e2f42;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-link:hover,
.mobile-link:focus {
  color: #404bbf;
}

.mobile-list-icons {
  display: flex;
  gap: 40px;
}

.mobile-address {
  margin-bottom: 48px;
  font-style: normal;
}

.mobile-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mobile-address-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-address-link:hover,
.mobile-address-link:focus {
  color: #4d5ae5;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }

  .burger-btn {
    display: none;
  }

  .header-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .address {
    font-style: normal;
    display: block;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .logo-header {
    padding: 24px 0;
    margin-right: 120px;
  }

  .header-link {
    position: relative;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-link::after {
    display: block;
    content: "";
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    position: absolute;
    left: 0;
    bottom: -1px;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-link:hover::after,
  .header-link:focus::after,
  .header-link.current::after {
    opacity: 1;
  }

  .header-link:hover,
  .header-link:focus,
  .header-link.current {
    color: #404bbf;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .address-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address-link:hover,
  .address-link:focus {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .logo-header {
    margin-right: 76px;
  }

  .address-list {
    align-items: center;
    flex-direction: row;
    gap: 40px;
  }

  .address-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
    padding: 24px 0;
  }
}

.hero {
  margin: 0 auto;
  padding: 72px 0;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background/office-mob.jpg);

  max-width: 1440px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(46, 47, 66, 0.7);

  @media screen and (min-resolution: 2x) {
    & {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/background/office-mob@2x.jpg);
    }
  }
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 216px;
}

.btn {
  display: block;
  background-color: #4d5ae5;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  line-height: 1.5;
  align-items: center;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  margin: 72px auto 0;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 112px 0;

    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background/office-tab.jpg);

    @media screen and (min-resolution: 2x) {
      & {
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
          ),
          url(../images/background/office-tab@2x.jpg);
      }
    }
  }

  .heading-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
  }

  .btn {
    margin-top: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    padding: 188px 0;

    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background/people-office.jpg);

    @media screen and (min-resolution: 2x) {
      & {
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
          ),
          url(../images/background/people-office@2x.jpg);
      }
    }
  }
  .btn {
    margin-top: 48px;
  }
}

.container-illustration {
  display: none;
}

.solutions {
  padding: 96px 0;
}

.noname-container {
  display: flex;
  margin: 0 auto;
}

.subtitle {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .subtitle {
    text-align: start;
  }

  .list {
    column-gap: 24px;
    row-gap: 72px;
  }

  .subtitle-list {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .subtitle-list {
    flex-basis: calc((100% - 72px) / 4);
  }

  .solutions {
    padding: 120px 0;
  }

  .container-illustration {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
  }

  .subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .list {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .text {
    font-weight: 400;
  }
}

.team {
  background-color: #f4f4fd;
  align-items: center;
  padding: 96px 0;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 72px;
  justify-content: center;
}

.team-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.subcontainer {
  padding: 32px 0;
}

.item-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.team-subtext {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.list-icons {
  display: flex;
  gap: 24px;
  margin-top: 8px;
  align-items: center;
  justify-content: center;
}

.link-icon:focus,
.link-icon:hover {
  background-color: #404bbf;
}

.icon {
  fill: #f4f4fd;
}

.link-icon {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .team-list {
    flex-wrap: wrap;
    row-gap: 44px;
    column-gap: 24px;
    justify-content: center;
  }
}

@media screen and (min-width: 1158px) {
  .team {
    padding: 120px 0;
  }

  .team-list {
    gap: 24px;
  }

  .team-item {
    width: calc((100% - 24px * 3) / 4);
  }
}

.portfolio {
  padding: 96px 0;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.portfolio-item {
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.subcontainer-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-cards-text {
  display: none;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    column-gap: 24px;
    row-gap: 72px;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio {
    padding: 120px 0;
  }

  .portfolio-list {
    row-gap: 48px;
  }

  .portfolio-item {
    box-shadow: none;
    width: calc((100% - 24px * 2) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-cards {
    position: relative;
    overflow: hidden;
  }

  .portfolio-cards-text {
    display: block;
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-item:hover .portfolio-cards-text,
  .portfolio-item:focus .portfolio-cards-text {
    transform: translateY(0%);
  }

  .portfolio-item:hover,
  .portfolio-item:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
}

.footer {
  background-color: #2e2f42;
  padding: 96px 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
  text-align: center;
}

.footer-dop-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-text {
  color: #f4f4fd;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  text-align: left;
  max-width: 264px;
}

.footer-subcontainer p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.list-icons-footer {
  gap: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-icon:focus,
.footer-icon:hover {
  background-color: #31d0aa;
}

.subfootertext {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.subscr {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  color: #ffffff;
}

.subscribe-btn {
  font-family: "Roboto", sans-serif;
  margin: 16px auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 4px;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
  min-width: 165px;
  height: 40px;
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.subscribe-icon {
  fill: #fff;
  margin-left: 16px;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #404bbf;
}

.subscr::placeholder {
  color: #fff;
  opacity: 0.6;
}

@media screen and (min-width: 768px) {
  .footer-container {
    width: 584px;
  }

  .footer-dop-container {
    flex-direction: row;
    gap: 24px;
    text-align: left;
  }

  .footer-subscribe {
    text-align: left;
  }

  .subscribe {
    display: flex;
    gap: 24px;
  }

  .subscr {
    width: 264px;
  }

  .subscribe-btn {
    margin: 0;
  }
}

@media screen and (min-width: 1158px) {
  .footer-container {
    flex-direction: row;
    width: 100%;
    gap: 80px;
  }

  .footer-dop-container {
    gap: 120px;
  }

  .subscr::placeholder {
    opacity: 1;
  }

  .footer {
    padding: 100px 0;
  }
}

.modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-overlay:not(.is-open) .modal-container {
  transform: translate(-50%, -100%) scale(1.5);
}

.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 72px 16px 24px 16px;
  border-radius: 4px;
  width: 288px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  overflow-y: auto;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form {
  margin-bottom: 8px;
}

.modal-icon-form {
  position: relative;
  margin-bottom: 16px;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon-form input:focus {
  border: 1px solid #4d5ae5;
}

.modal-icon-form input:focus + svg {
  fill: #4d5ae5;
}

.modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 24px;
  right: 24px;
  position: absolute;
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  border: none;
  background-color: #404bbf;
  fill: #ffffff;
}

.form {
  margin-bottom: 8px;
}

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.form-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  outline: none;
  border-radius: 4px;
  width: 256px;
  height: 40px;
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea {
  margin-bottom: 16px;
  display: block;
}

.comment-input {
  resize: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-input:focus {
  border: 1px solid #4d5ae5;
}

.textarea-checkbox {
  margin-bottom: 24px;
}

.privacy-label {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  gap: 4px;
}

.privacy-label-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  flex-shrink: 0;
}

.input-privacy:checked + .privacy-label .privacy-label-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.link-privacy {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
}

.form-button {
  display: block;
  background-color: #4d5ae5;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  line-height: 1.5;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .modal-container {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }

  .form-input {
    width: 360px;
  }

  .comment-input {
    width: 360px;
  }
}
